<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.vhoh.vhonlinehospital">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/vhoh_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditPatientProfileActivity"></activity>
        <activity android:name=".EditDoctorProfileActivity" />
        <activity
            android:name=".HomepageDrawerActivity"
            android:label="@string/title_activity_homepage_drawer"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3047572722822643~4256315028" />

        <activity
            android:name=".VerifyDonorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowDonorListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FounderProfileActivity" />
        <activity android:name=".DeveloperProfileActivity" />
        <activity
            android:name=".MakeDonationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutUsActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NotificationListActivity" />
        <activity
            android:name=".ShowMyPatientListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerifyDoctorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SendFeedbackActivity" />
        <activity
            android:name=".SendMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VideoChatViewActivity" />
        <activity
            android:name=".ShowMyDoctorListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowDoctorListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomepageActivity" />
        <activity
            android:name=".ProfilePatientActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ProfileDoctorActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>